<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHTAccess.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dental Hygiene (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Dental Hygiene.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Dental-Hygiene.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA198145236427F200777F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA19815B236427F500777F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA198166236427F500777F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA19817A236429E800777F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA9DDBE52364537600CD268E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
